
//header
.nav-color {
    background-color: #FFB2A6;
}

.nav-logo {
    font-family: 'Times New Roman', Times, serif
}

//main

.main {
    background-color: #ffeed8;

    .btn-color {
        background-color: #131012;
    }

}


//footer/
.footer-container {
    background-color: black;

    .listas {
        list-style: none;
        color: white;
    }
}